[2022-01-11 11:49] philsp commented on #218
Hmm, building the following (compacted) example from the readme on Node 16.13.2 LTS (Windows (x64)) also shows the deprecation warning. Is there any other way to import this package that I'm missing?

pages/index.js
[code]

package.json
[code]

[2022-01-11 16:11] jescalan commented on #218
You can ignore the deprecation warning for now. Put up a PR that should get rid of it https://github.com/hashicorp/next-mdx-remote/pull/223

[2022-01-11 17:13] BRKalow commented on #222
Can you share a minimal reproduction? Happy to take a look if so.

[2022-01-12 03:42] SukkaW opened #224 "[Feature Request] Allow modifying esbuild options"
I am a writer using the CJK language. esbuild [escape `UTF-8` character into slashed Unicode by default](https://esbuild.github.io/api/#charset), results in a significant increase of the output size. This could be avoided by applying `charset: 'utf8'` to the esbuild, which requires modifying the esbuild option in `serialize`.

[2022-01-12 03:50] SukkaW commented on #224
Closing the issue as `next-mdx-remote@next` doesn't have this issue anymore (apparently `next-mdx-remote@next` uses  MDX's built-in compiler, which is based on swc instead of esbuild)

[2022-01-12 03:50] #224 closed

[2022-01-13 00:39] marcospassos commented on #221
Same issue here. As remark-math is at version 5, we need a solution for it.

[2022-01-19 08:43] lorenzode opened #225 "JSON embedded in content should not be parsed as JSON"
I have next-mdx-remote working for my NextJs application.

However when I use JSON examples like `'<p><code>\"data\": [{object}, {object}, {object}…]</code></p>\n'` in my content, I get this error:

`ReferenceError: object is not defined`

[code]

Versions:
- "next": "^12.0.8",
-  "next-mdx-remote": "^3.0.8",
-  "react": "^17.0.2",

[code]
I tried this but it doesn't work either

[code]

This is w

[2022-01-19 08:52] lorenzode commented on #225
For completeness, here is _document.tsx:

[code]

[2022-01-19 16:19] edwinvelez opened #226 "Property 'children' is missing in type 'Node<Data>' but required in type 'Root'"
Next.js offers a [with-mdx-remote](https://github.com/vercel/next.js/blob/canary/examples/with-mdx-remote/pages/posts/%5Bslug%5D.js) example JavaScript project which works. However, when adding a plugin, a problem is identified. Although the "problem" exists, I can successfully `npm run dev` and `npm run build` as expected.

![image](https://user-images.githubusercontent.com/2299753/150163089-a164

[2022-01-19 21:10] BRKalow commented on #225
This is invalid MDX. You could try wrapping the JSON in a markdown code fence:

<pre>
[code]
</pre>

[2022-01-20 07:30] lorenzode commented on #225
@BRKalow thanks but I am doing this already:

This is what we are doing:

1. content editors are code fencing their code examples in Markdown using ` ``` `
2. our system transforms Markdown into HTML, so the code fencing becomes `<code></code>`
3. Which leaves me with the following markup on the frontend which fails: `<code>\"data\": [{object}, {object}, {object}…]\n</code>`

[2022-01-20 07:34] lorenzode commented on #225
... and consuming Markdown code fencing markup also doesn't work by the way:

![Screenshot from 2022-01-20 08-32-48](https://user-images.githubusercontent.com/24975087/150293682-31cdd1e6-bbbc-45f7-a38c-c5768eff7c3d.png)

[2022-01-20 07:39] lorenzode commented on #225
Related: https://github.com/hashicorp/next-mdx-remote/issues/83

[2022-01-20 07:49] lorenzode commented on #225
I could solve this by using a plugin:

[code]

Thank you again @BRKalow

[2022-01-20 07:49] #225 closed

[2022-01-20 21:08] johackim opened #227 "Can't use constants on mdx files with next-mdx-remote@next"
Hello,

With mdx v2, if you use [the playground](https://mdxjs.com/playground/), the support of constants work :

[code]

I use `next-mdx-remote@next` (`^4.0.0-rc.1`) but I can't use constants in my mdx files.

[Here an example of my issue](https://codesandbox.io/s/github/johackim/test).

I have this error -> `ReferenceError: test is not defined`

[2022-01-21 23:03] BRKalow commented on #227
Thanks for the report and reproduction ❤️  This is likely because we strip out the `import/export` statements as they aren't practically supported (via [this plugin](https://github.com/hashicorp/next-mdx-remote/blob/brk.feat/mdx-v2-rc/src/plugins/remove-imports-exports.ts)). However, I do think it's important to support the pattern you've outlined above.

One approach here would be to update the p

[2022-01-21 23:08] BRKalow commented on #221
This is likely due to the fact that we're relying on an older version of remark along with mdx v1, as others have found.

If you would like, give `next-mdx-remote@next` a try, which uses mdx v2 under the hood and should be compatible with these packages. Otherwise, the alternative is to adjust the versions as @subwaymatch [has outlined](https://github.com/hashicorp/next-mdx-remote/issues/221#issue

[2022-01-21 23:08] #221 closed

[2022-01-21 23:10] BRKalow commented on #86
I'm going to close this out for now as the type definitions have been updated a bit with v3 earlier this year. Please feel free to reach out if you're still seeing issues, thanks!

[2022-01-21 23:10] #86 closed

[2022-01-21 23:37] BRKalow commented on #219
It's possible this is because `remark-directive` depends on a newer version of remark than what mdx v1 uses. You might try `next-mdx-remote@next`, which uses mdx v2 under the hood.

[2022-01-21 23:38] #184 closed, assigned to nobody

[2022-01-21 23:39] BRKalow commented on #226
This might be the result of type mismatches between remark versions. If you want, you could try using `next-mdx-remote@next`, which uses mdx v2 under the hood, to see if that fixes your issue.

[2022-01-23 06:29] tusharpandey13 commented on #210
This seems to work for me in dev (I'm kinda new to this so I don't know if this fixes the problem or just hides it):
[code]

I was getting similar module not found errors for `fs` and `child_process` as well.
I referenced [this issue thread](https://github.com/vercel/next.js/issues/7755#issuecomment-937721514).

[2022-01-23 15:14] edwinvelez commented on #226
Thanks @BRKalow.

`next-mdx-remote@next` seems to have corrected the problem but also introduced another. Hopefully when the `@next` is ready for final release all issues will have been resolved. For now the seems to be on the radar and  `// @ts-ignore` a temporary solution.

[code]

[2022-01-24 06:24] resqiar opened #229 "Use next-mdx-remote with rehype-sanitize makes `inline code block` not working"
Hi!

I tried to migrate from `react-markdown` to `next-mdx-remote` lately, but I encountered a problem where the inline code block does not work when I use `rehype-sanitize` plugin.

This should be the expected behaviour in the HTML:

[code]

but instead, it completely removes the "code" inside of the "p" tag:

[code]

Here is what I use in the `package.json`

[code]

and here is my simple `index.

[2022-01-24 19:15] bubuq3 commented on #222
https://github.com/bubuq3/clone-portfolio2021/blob/7899d9c07770bb462abfba88cfdd3ca05e2ed7a9/pages/portfolio/%5Bslug%5D.js#L20-L36

Hope I haven't leaked anything 🤣

[2022-01-24 20:25] brianespinosa commented on #184
Just in case anyone else happens to land here, this decision is backed up my Microsoft also having [already dropped support for IE11 in all of their web application apps and services](https://docs.microsoft.com/en-us/lifecycle/announcements/internet-explorer-11-support-end-dates).

[IE11 itself will also be fully retired as of June 15, 2022](https://blogs.windows.com/windowsexperience/2021/05/19/t

[2022-01-28 16:05] #226 closed

[2022-01-31 08:30] joepio opened #230 "Upgrade to mdx 2.x"
First off: thanks for maintaining this repo, it's awesome.

Version 2.0 of `mdx` ~~has just been released~~ has a [pre-release](https://mdxjs.com/blog/v2/), and has a couple of benefits:

- Improved syntax makes it easier to use markdown in JSX
- JavaScript expressions turn {2 * Math.PI} into 6.283185307179586
- New esbuild, Rollup, and Node.js integrations
- Any JSX runtime: React, Preact, Vue, E

[2022-01-31 16:59] jescalan commented on #230
@joepio - it has not yet been released, you can see this in the [release log](https://github.com/mdx-js/mdx/releases), and in the large red warning box in the site that you linked that says it hasn't been released.

That being said, we have some good news! As you have discovered, we have a PR open to support it as soon as it is released, and if you are on a prerelease and want to test it, you can

[2022-01-31 17:01] joepio commented on #230
Thanks @jescalan!

[2022-02-01 20:44] jescalan commented on #230
Closing this issue - anyone interested can refer to [the PR where the upgrade is implemented for further info](https://github.com/hashicorp/next-mdx-remote/pull/211), and anyone eager to try it out immediately before that PR is released can install the v2-compatible version with `npm i next-mdx-remote@mdx2` today 😁

[2022-02-01 22:14] max-pod commented on #119
@alexanderbluhm Hi, I'm actually trying to do this exact same thing with building a TOC. Would it be possible for you to share your code?

[2022-02-02 03:47] max-pod opened #231 "[Question] How to generate TOC data for custom React Component"
Hi!

I'm trying to figure out how to generate TOC data to be filled in a custom react component.

I recognize that there are a couple of flexible TOC unified libraries, I think the most flexible is https://github.com/JS-DevTools/rehype-toc, which while it doesn't suit my use case perfectly, could probably be modified to work

Another solution I saw is to just run regexp on the content retrieved fr

[2022-02-02 08:04] alexanderbluhm commented on #119
@max-pod I didn't implemented it yet unfortunately.

[2022-02-02 21:45] max-pod commented on #119
@alexanderbluhm
Gotcha!

I think I'll end up resolving my problems in the short term just using regular expressions to parse the content, https://github.com/hashicorp/next-mdx-remote/issues/231#issue-1121474489. Some of the other ideas might also help.

[2022-02-03 13:23] dekked commented on #231
Hey!

I wrote the following plugin that extracts headings with some rank and their slugs (`#id`). into a `headings` object you provide from the outside, you should be able to modify it to extract all.

[code]

You would use it like:

[code]

Note that the plugin would need to be updated for the newer ESM module dependencies. Here's how it should look like:
[code]

Hope it's useful!

[2022-02-05 21:18] dmitryshelomanov opened #232 "markdown inside jsx tag"
I cant use somting like this

[code]

with error SyntaxError: unknown: Expected corresponding JSX closing tag for

How to fix it ?

[2022-02-09 00:07] Jule- commented on #86
This #96 PR is messing things up for me. Now typescript is complaining my rehype plugins are incompatible because `Plugin[]` is incompatible with `Pluggable[]`.
Do not know why this was an issue since I have used tuple plugin configuration `[plugin, options]` without typescript errors since now. Doing so seems to break all third party plugins that export `Plugin` and not `Pluggable`.
Or am I doing

[2022-02-11 10:01] PurpleBooth commented on #144
Is there any plans to resolve this? I like the library, but it damages our ability to automatically audit dependencies, and as such automating the supply chain security if we have to add exceptions.

[2022-02-11 16:23] #231 closed

[2022-02-11 19:54] jescalan commented on #144
No, the [response above](https://github.com/hashicorp/next-mdx-remote/issues/144#issuecomment-841561028) still stands. You are welcome to try [the v2 version](https://github.com/hashicorp/next-mdx-remote/pull/211) if you are ready to upgrade that may resolve some of the issues for you, this will be released soon.

I also [recommend this read](https://overreacted.io/npm-audit-broken-by-design/) --

[2022-02-11 20:33] PurpleBooth commented on #144
Thanks for the response. I think that this won't work for my needs at this time.

Nice library though, thanks for the works you put in.

[2022-02-13 17:56] lingdocs commented on #143
Yes please, for me this feature is a deal breaker and I would looove to use this tool to create a blog that relies heavily on `import` statements. Otherwise I think I'll have to be resigned to using Gatsby (which has great support for loading mdx blog posts), but I much prefer Next.js.

Also, I see that `export` statements don't currently work either. This would be great to have because that's [cu

[2022-02-13 18:46] jescalan commented on #143
Sorry, no updates here. It's very difficult to pull this off properly loading from a remote source, and would require a fairly large time investment - afaik there is not a use case for this specifically at HashiCorp right now so there's not a lot of motivation to put tons of work into it.

If you are using this for something small that it not intended to go to high scale, you can still get away wi

[2022-02-13 18:48] jescalan commented on #232
This is an mdx issue, mixing jsx and markdown requires special handling in mdx v1. It has improved in v2 which we should have a release for soon.

[2022-02-15 22:05] #230 closed

[2022-02-16 22:57] brianespinosa commented on #143
@jescalan I feel like I might be able to come up with something using node fs when encountering an import statement... but before I jump in to trying something out, I want to understand if there is a reason you would recommend against that or if that would preclude those efforts from getting merged based on HashiCorp's use case.

I am guessing I would need to poke around in the plugin that removes

[2022-02-18 11:25] Divlo opened #235 "Release v4.0.0"
Hey! :wave:

This is a tracking issue to know what is needed to release v4.0.0 stable.
Now that #211 has been merged, is there is anything left to do?

[2022-02-18 18:12] BRKalow commented on #235
[v4.0.0 is now published!](https://github.com/hashicorp/next-mdx-remote/releases/tag/v4.0.0)

[2022-02-18 18:12] #235 closed

[2022-02-19 11:37] daneden opened #236 "next-mdx-remote@v4.0.0 fails on Vercel"
Excited about the v4 release, but unfortunately it’s not working on my Next.js site on Vercel. Building results in the following error:

[code]

[Full log available here](https://vercel.com/daneden/daneden.me/2rwJD85gZ5P2RuQNZHLqh3RR1Efq).

Pull request where I’m upgrading to v4: https://github.com/daneden/daneden.me/pull/1331

It’s unclear whether this is caused by incorrect dependencies in my `p

[2022-02-19 11:44] daneden commented on #236
This turned out to be an issue caused by Vercel’s build cache; redeploying without a build cache fixed it!

[2022-02-19 11:44] #236 closed

[2022-02-19 17:34] eostrom opened #237 "Preact: Can't resolve 'react/jsx-runtime.js'"
Congratulations on the upgrade to MDX 2! I'm excited to try it. Unfortunately I got this error when rendering some MDX with next-mdx-remote 4.0.0, Next 12.1.0, and Preact 10.6.6:

[code]

Removing the `.js` from this line in `dist/index.js` (and presumably `src/index.tsx`) seems to fix it:

[code]

But now I'm getting a different error:

[code]

That line doesn't look like it should cause any prob

[2022-02-20 14:15] dmitryshelomanov commented on #232
@jescalan
![image](https://user-images.githubusercontent.com/19505559/154846970-fd49abfc-d490-43ed-8633-d637c26c87d4.png)
with v2 cant compile (any symbol)
how to use with cjs modules ?

[2022-02-20 15:24] BRKalow commented on #232
@dmitryshelomanov can you share a minimal reproduction? Happy to take a look if so!

[2022-02-20 15:25] BRKalow commented on #237
Thanks for the report! We haven't explicitly tested preact support, so not unexpected that we might have an issue here. If you'd be willing to create a minimal reproduction I'd be happy to dig in further!

[2022-02-20 21:54] dmitryshelomanov commented on #232
[test.zip](https://github.com/hashicorp/next-mdx-remote/files/8104988/test.zip)
@BRKalow demo
razzle

npm install then npm run start

(Cant do it online)

[2022-02-20 23:31] eostrom commented on #237
Thanks! Test case: https://github.com/eostrom/next-mdx-remote-237-test-case

[2022-02-20 23:39] eostrom commented on #237
Also: I dug into the second error a little. Based on the stack trace and the shape of the minified code, I suspect it's coming from this part of Preact's `hooks/src/index.js`:

[code]

Google found me a couple of similar errors in other projects, but that's as far in over my head as I wanted to get at this point.

Let me know if you have trouble reproducing the bug, or if I can be of any help.

[2022-02-21 02:08] Manonicu opened #238 "parse failed"
[code]

build failed after upgrade to v4

[2022-02-21 11:58] nimuseel opened #239 "Error: Cannot find package 'next-mdx-remote' in Next.js 12 environment"
Hi! I'm creating a personal engineering blog using `Next.js` and `next-mdx-remote` and `yarn-berry`.

But trying to render mdx using next-mdx-remote caused an error called `Error: Cannot find package 'next-mdx-remote'`.

I tried to change it to `pakcage.json>type: 'module'` and reinstall the package, but it was not resolved, so I left it as an issue.

Below is my development environment. Please re

[2022-02-21 13:25] dmitryshelomanov commented on #232
import remarkAlign from 'remark-align';
import remarkAttr from 'remark-attr';
import remarkComments from 'remark-comments';

not working with mdx2

[2022-02-21 13:28] dmitryshelomanov commented on #232
![image](https://user-images.githubusercontent.com/19505559/154964219-f9dfcec1-5a1c-42a9-997a-106be45a419c.png)
it works
but without remarkComments remarkAttr remarkAlign
has any libs? With similar behavior ?

[2022-02-21 13:32] dmitryshelomanov commented on #232
How to write own plugins ?There is any docs ?

[2022-02-22 00:09] max-pod commented on #239
Sorry for the dumb question, but have you confirmed that next-mdx-remote is actually installed, ie in your yarn/npm lock and node modules folder?

[2022-02-22 00:13] nimuseel commented on #239
@max-pod

Yes, it is well located in the yarn.lock file.

[2022-02-22 00:25] max-pod commented on #239
Could you replicate the error in a sample repo?

[2022-02-22 15:07] BRKalow commented on #238
Can you share a reproduction so we can debug further? Thanks

[2022-02-23 01:24] Manonicu commented on #238
https://github.com/Manonicu/site

clone && update next-mdx-remote to latest.that's all

[2022-02-23 15:42] BRKalow commented on #238
There's an error in this file: https://github.com/Manonicu/site/blob/master/_posts/javascript/es6/String_Template_Literal.mdx

On this line:
[code]

Note the `${expression}`, gets evaluated by MDX v2 as a JS expression and so we get an `expression is not defined` error.

Escaping the bracket can fix this:
[code]

Keep in mind MDX v2 does have breaking changes, see the migration guide for more info

[2022-02-23 15:42] #238 closed

[2022-02-24 01:24] Manonicu commented on #238
got it.thx

[2022-02-25 20:28] brianespinosa commented on #143
@BRKalow thank you for taking the time to put this thoughtful write up together about the limitations with my proposal and some pointers of where this might still work.

I'll check back in when I sit back down at a computer in a couple weeks and update you on if I have some bandwidth to tinker with this.

[2022-02-26 12:34] nimuseel commented on #239
@max-pod

Sorry for the late reply. Test it here in the repository.
https://github.com/nimuseel/nimuseel-next

[2022-03-01 22:59] max-pod commented on #239
@nimuseel I checked out the repo and couldn't find the error, and saw a commit titled [fix: 불필요 코드 제거](https://github.com/nimuseel/nimuseel-next/commit/2488d5509ff71b9030eb5bb4a7b2b208c90a9b89). Seems like you got it working?

[2022-03-02 11:21] nimuseel commented on #239
@max-pod

When using the mdx-bundler, there was no error, so I avoided the error by using the mdx-bundler first. Currently, we have found an alternative plan, but we want to use next-mdx-remote.

[2022-03-03 13:32] mauroreisvieira commented on #86
The same on my side ^^

[2022-03-03 14:19] Jule- commented on #86
@BRKalow, @jescalan can you confirm this is an intended behavior? If so what can we do to make things work again?
Many thanks!

[2022-03-03 14:26] max-pod opened #240 "Use Data Scope w/o Explicitly Specifying It In Source"
Hi,

This is a niche use-case, and what I'm looking to do is to pass props into components that don't have to specify those props in the mdx source. Trying to do this so that non-technical people can just use MDX components without having to think about the data model.

Ex: MDX `This is a <Test/> component`
Scope: `{test: test}`
And have Test actually function like <Test test={test} />

Right now

[2022-03-03 15:08] BRKalow commented on #240
Would a react context work for you? The components could use the context data without explicitly being passed props.

[code]

[2022-03-03 15:13] BRKalow commented on #86
Can y'all share what next-mdx-remote version you're using? v4 exposes types from the underlying `@mdx-js/mdx` library, so there shouldn't be any misalignment there.

[2022-03-03 15:40] max-pod commented on #240
Yeah, that or trying to use one of the transformers like https://github.com/jaywcjlove/rehype-rewrite

[2022-03-03 15:40] #240 closed

[2022-03-03 16:00] mauroreisvieira commented on #86
Yes, with version 3.0.8 I don't have issues, only with v4.

[2022-03-03 16:02] BRKalow commented on #86
If you can share a minimal reproduction in a codesandbox or a repo I'll take a look.

[2022-03-03 16:08] Jule- commented on #86
@mauroreisvieira ho yeah you are right v4 is breaking stuff, I have tried to upgrade.
[code]

[2022-03-03 16:11] BRKalow commented on #86
It looks like `remark-prism` might not be updated to rely on the latest remark libraries: https://github.com/sergioramos/remark-prism/issues/304

This is likely true for many third-party remark plugins. Please keep in mind v4 is a major upgrade and there were significant changes to the underlying MDX library, as well as the unified ecosystem of libraries. This isn't an issue with `next-mdx-remote`

[2022-03-03 16:15] Jule- commented on #86
@BRKalow oh okay. So for all community plugins like that, we need to stick with the v3 then. Thanks for the clarifications!

[2022-03-03 16:16] mauroreisvieira commented on #86
Thank you @BRKalow

[2022-03-04 01:18] sebastienbarre opened #241 "Advice needed for retext"
Hello. Thanks for the great work.

I was wondering if you could provide guidance with respect to using [retextjs/retext](https://github.com/retextjs/retext) with this plugin.

I noticed that remark and rehype plugins can be provided:
[code]
and I found the following plugin: [remarkjs/remark-retext: plugin to transform from remark (Markdown) to retext (natural language)](https://github.com/remarkjs

[2022-03-04 07:09] sebastienbarre commented on #241
Had a long discussion about this with a remark/retext guru in: [Using remark-retext with MDX (in Next.js). · Discussion #965 · remarkjs/remark](https://github.com/remarkjs/remark/discussions/965).

The following is certainly possible:

[code]

Unfortunately the warnings/errors would not be surfaced to the console/terminal where Next.js dev mode was started from (say with `npm run dev`). So while t

[2022-03-04 11:29] raulfdm opened #242 "Markdown table does not render properly on v4"
# Bug report

## Describe the bug

After migrating to v4, all tables are not being rendered properly.

It's important to mention that if I paste the exact same markup in the [MDX playground,](https://mdxjs.com/playground/), all works fine.

## To Reproduce

I've created this repository so you can test: https://github.com/raulfdm/next-mdx-remote-table-bug

It's clearly a problem with v4 because if

[2022-03-04 13:20] shmoon2917 commented on #239
@nimuseel I had the same problem and yarn-berry and next-mdx-remote version is same as yours. I downgraded to version 3 and It works for me🙌

when installing the version 4, it is located in yarn's virtual folder(`__virtual__`). This is the only difference. @max-pod

[2022-03-04 14:00] nimuseel commented on #239
@shmoon2917

Oh! I'll give it a try. Thank you.

[2022-03-04 20:32] #232 closed

[2022-03-05 02:47] Jule- commented on #86
Well I found out the old issue I had:

[code]

I have started to try `@next/mdx` which pulls `@mdx-js/mdx@2.0.0` and conflict with the version of `next-mdx-remote@3.0.8`.
That's why I end up with fixing `"@mdx-js/loader": "^1.6.22"`:

[code]

In conclusion, it better not use the two libs. :wink:

[2022-03-05 05:12] rfrowe commented on #183
@BRKalow I've just run into this issue. I have to admit I was quite perplexed when only the props key didn't work. I'm forced to use this codepath with my setup. I'll noodle on this and get back to you with some ideas.

[2022-03-05 07:52] rfrowe commented on #183
Okay I've done a bit of poking around and I came up with a solution that works, though you may not like it. To bypass the shadowing issue, I think we can simply use the `props` that are passed to `MDXContent`. I think this intuitively makes sense since we _are_ trying to pass `props` to the component, so we may as well use the front door rather than the window. For example, if we change the hydrat

[2022-03-05 09:58] fernpolo commented on #237
Just thought I'd pop in as I'm having issues with the `jsx-runtime.js` file after enabling the experimental Suspense implementation in Next.js 12.1.0.

Very similar build error:

[code]

[2022-03-06 12:10] Fox32 commented on #242
Not sure about your particular problem, but I also had problems with tables when migrating. I missed this detail from the [MDX2 migration guide](https://mdxjs.com/migrating/v2/#gfm):

[2022-03-07 09:45] raulfdm commented on #242
Thanks for sharing that @Fox32 ... I missed this bit.

Adding gfm indeed added back the tables.

[2022-03-07 09:45] #242 closed

[2022-03-07 15:00] max-pod opened #243 "Unexpected Token `...` In Production"
Hello, I'm encountering an error in Sentry on static pages with a link to a mdx-rendered page, complaining that `...` is an unexpected token. Would appreciate any help!

Error:
Raw original/unminified:
`SyntaxError: Unexpected token ...
  at ? (../../node_modules/next-mdx-remote/node_modules/@mdx-js/react/lib/index.js:53:43)`

Unminified:
`   * @param {Record<string, unknown> & {components?: Compo

[2022-03-07 15:06] BRKalow commented on #243
@max-pod Was the error thrown from the server or the browser? If the browser, do you have additional information from sentry on what browser it was?

[2022-03-07 15:35] max-pod commented on #243
Wide spectrum of browsers, multiple users, and client-side.

1. "Crosswalk 11.45 android 7.1.1"
2. Chrome
- Chrome Mobile 42, 43, 50
- Chrome Dekstop 50, 83, 84, 86
3. Firefox 78

[2022-03-08 11:26] thatanjan opened #244 "No Difference between Code Block and inline code"
I am using next-mdx-remote `4.0.0` version. When I try to add syntax highlights to code it doesn't distinguish between a code block and an inline code.
I am using [prism-react-renderer](https://github.com/FormidableLabs/prism-react-renderer) for syntax highlight with the following code.
[code]

### My mdx code
![image](https://user-images.githubusercontent.com/71136371/157228048-7de5d6d6-2d2c-404c

[2022-03-08 12:54] DecliningLotus commented on #244
Can confirm this is affecting my project too. If you don't use the ternary operator for the variable `language`, it outright breaks because inline code returns `className` as undefined.

[2022-03-08 13:07] alexcarpenter commented on #244
@thatanjan Try switching to:

[code]

[2022-03-08 13:15] BRKalow commented on #244
Note that MDX was upgraded to v2 as part of this, which was a breaking change and requires changes in how you author content.

See the upgrade guide here: https://mdxjs.com/migrating/v2/#update-mdx-content

Of note:

[2022-03-08 13:15] #244 closed

[2022-03-08 13:33] alexcarpenter commented on #229
@resqiar Just checked out your CodeSanbox repro and looks to be working. Are you still experiencing the issue?

<img width="1091" alt="CleanShot 2022-03-08 at 08 31 44@2x" src="https://user-images.githubusercontent.com/825855/157247960-1ef75d41-626c-434b-a395-258ed8127dc9.png">

[2022-03-08 14:24] thatanjan commented on #244
Finally, it is working. Thank you so much @BRKalow and @alexcarpenter.
I switched the `code` tag to `pre` tag for CodeBlock.
[code]

I also changed the prism code. Now it is getting the code from the nested `code` tag.
[code]

[2022-03-08 15:59] maburzynski opened #245 "to_delete."

[2022-03-08 16:00] mxcdh opened #246 "TypeError: Cannot read properties of undefined (reading 'map')"
Hello

I have error: 'TypeError: Cannot read properties of undefined (reading 'map')'.

I understand what this error means.
But I still understand, why ingredients.array is not available in my components.
I transmit array from .mdx files.

Bellow my project (whole blog):
https://stackblitz.com/edit/nextjs-cbqaq9?file=components%2FIngredients.tsx

btw
Before added question I read all documentation

[2022-03-08 16:01] #245 closed

[2022-03-08 19:26] llibdude opened #247 "v4 regression. inlineCode type treated as code type"
Maybe this isn't a bug, or regression, but lacking any release notes that I can find I cannot tell.

Previously I was able to distinguish between `inlineCode` and ```code``` markdown.  Now it seems as if all my `inlineCode` (single back tick) are all treated as fenced code blocks (triple backtick).

[2022-03-08 19:27] llibdude commented on #247
ah ignore me, i just lookd through closed issues https://github.com/hashicorp/next-mdx-remote/issues/244

[2022-03-08 19:27] #247 closed

[2022-03-09 13:42] mattstobbs opened #248 "How to add remark plugin which converts nodes to html?"
I'm writing a remark plugin which converts a code block to a custom block of html, similar to a [remark plugin](https://github.com/tailwindlabs/tailwindcss.com/blob/master/remark/withSyntaxHighlighting.js#L21) used by tailwindcss.com. It involves updating the node type to `html`:

[code]

However, when I run this, I get the error "Cannot handle unknown node `raw`". It seems to be from updating the

[2022-03-09 15:47] mattstobbs commented on #248
Just realised the best way to do this is something like this:

[code]

[2022-03-09 15:47] #248 closed

[2022-03-11 06:03] nos-nart commented on #229
@alexcarpenter How can I replacing `code` tag? Because It's wrapped by `p` tag so when I try
[code]
So the `code` tag does not apply styling from class? Do I need to use any other package to make the `code` tag not to be wrapped by `p` tag? or how can I apply my class for `code` tag?

[2022-03-11 13:54] alexcarpenter commented on #229
@nos-nart your example would include the class `my-default-class`. New lines in MDX are wrapped in `<p>` tags.

Example shown here:

![CleanShot 2022-03-11 at 08 51 32@2x](https://user-images.githubusercontent.com/825855/157880807-1621573d-4952-4845-8118-8b6446294bb5.png)

[2022-03-11 13:54] #229 closed

[2022-03-11 15:10] nos-nart commented on #229
@alexcarpenter On mine `code` tag doesn't includes class I apply for
[code]
![image](https://user-images.githubusercontent.com/37862200/157893442-6f4de67d-4117-4500-ac2e-e112dd230713.png)
Do you know how to make it work? Thank you for helping me

[2022-03-15 11:35] MatthijsMud opened #249 "Improve typing of the `frontmatter` prop"
The type of `frontmatter` is specified as `Record<string, string>`. This isn't completely accurate, as the properties could also have types such as `number`, `boolean`, `Array`, `Object`.

Consider using a type that more accurately describes the potential values such as the following, or use `unknown`.
**Note:** Recursive types are available starting at [Typescript 3.7](https://www.typescriptlang.

[2022-03-15 12:20] nos-nart commented on #86
I cope with the same issue I have dependencies installed:
[code]
![image](https://user-images.githubusercontent.com/37862200/158376332-9bf0a3d4-5ade-49ab-aee5-78b45c8f513b.png)

[2022-03-15 18:26] Jule- commented on #86
@nos-nart have you read my comment? Have you tried to run the command I gave you? `@mdx-js/mdx` **is** a dependency of `next-mdx-remote` so yes you have it as an indirect dependency. You should find some learning content about the `node_modules` dependency tree.
Your `require` error is not linked to this issue, please search errors on your own before asking for help, this one is pretty much covere

[2022-03-15 23:48] max-pod commented on #133
@BRKalow Can you expand on what you mean by "the nature of how `getStaticProps` works, the result of serialize will be shipped to the client regardless of whether or not you hydrate." How? Shouldn't the rendered HTML be the only thing that's getting passed down?

I'm also getting confused by this comment: https://github.com/hashicorp/next-mdx-remote/issues/147#issuecomment-846430758: "shipping the

[2022-03-16 02:01] jakejarvis commented on #237
This temporary `next.config.js` fix worked for me w/ React 18 (I think what @fernpolo was also running into), so I assume this would help with the same Preact roadblock?

[code]

See Next.js documentation on [adding webpack aliases here](https://nextjs.org/docs/messages/invalid-resolve-alias) or [the fix in my repo](https://github.com/jakejarvis/jarv.is/blob/2d84b2572e8f93e34008723fa63291d0e2597a2

[2022-03-16 20:54] jescalan commented on #86
Really appreciate everyone jumping in here to help out, but let's try to keep the tone friendly and welcoming please 😁

[2022-03-16 22:18] Jule- commented on #86
I apologize, I didn't mean to sound aggressive, just trying to be helpful and remind good practices IMHO in order to keep issues clear and to respect OS authors' and contributors' time. Really, no hard feelings. :wink:

[2022-03-18 00:58] wrongbyte opened #251 "Cannot pass arguments to function components in components property of MDXRemote"
Let's say I have a MDXComponent as follows:
`<MDXRemote {...props.source}  components={components}/>`

When I define `components` as an object, if I try to pass any kind of parameter for a corresponding function component, I get an error related to the type `MDXComponents`.
So, it is accepted:
[code]
But this is not:
[code]

**But how can I render the content inside a component then??** It seems t

[2022-03-18 11:13] resqiar commented on #229
@alexcarpenter Sorry for the late reply, I don't understand why the reproduction code is working for you but not me, here is the image:

![next-mdx-remote-rehype-sanitize-issue](https://i.imgur.com/OrnTyxC.png)

However, **upgrading `next-mdx-remote` from `v3` to `v4`** appears to fix the problem, Here is the same repro but upgraded to v4, it should work just fine. https://codesandbox.io/s/next-md

[2022-03-18 11:38] resqiar commented on #229
@nos-nart  Where did you put that component?
I tried with the same setup as yours and it's working

[code]
![](https://i.imgur.com/5EcHzp7.png)

[2022-03-18 16:23] nos-nart commented on #229
@resqiar I updated `next-mdx-remote` to v.4 and It works

[2022-03-20 09:26] jamescho7 commented on #251
Does this work?

`const components = { CustomTag: (props) => <h1>{props.children}</h1> }
`

[2022-03-20 16:41] wrongbyte commented on #251
@jamescho7 this approach only works if `props` has type `any`.

[2022-03-21 14:31] BRKalow commented on #251
It looks like the native type for a heading element has `children` as optional, this is straight from the React types. You could set your children prop as optional to match the native types to address this.

Looking at the bottom part of the TS error:
[code]

[code]

[2022-03-21 14:33] BRKalow commented on #249
Thanks for opening this! Would you be willing to create a PR to adjust the types as you've suggested here?

[2022-03-21 14:48] BRKalow commented on #241
Thanks for raising this! It looks like you've found some more information here, and unfortunately due to the nature of how the content is being parsed with this library and Next.js there doesn't seem to be a great way to get the output you're looking for. I'm going to close this as I don't think there is anything actionable here, but feel free to keep the discussion rolling or create a new issue i

[2022-03-21 14:48] #241 closed

[2022-03-21 14:49] BRKalow commented on #174
esbuild has now been removed in v4, so I'm going to close this. Thanks!

[2022-03-21 14:49] #174 closed

[2022-03-21 14:49] #219 closed

[2022-03-21 15:37] wrongbyte commented on #251
@BRKalow It worked. Thank you

[2022-03-25 14:46] #237 closed

[2022-03-28 09:29] emonhossainraihan opened #254 "Cannot find module '/node_modules/react/jsx-runtime' imported from '/node_modules/next-mdx-remote/dist/index.js'"
I am using the NextJS latest version `12.1.1` and facing this issue.

Inside the `/node_modules/next-mdx-remote/dist/index.js` it import `react/jsx-runtime`

[code]

Which create the issue but if I changed it with actual path it works.

[code]

But how to solve it in deployment stage? Like vercel also show the same issue when  deploying.

[code]

Isn't `next-mdx-remote` compatible with `nextJS@12.

[2022-03-28 16:49] #249 closed

[2022-03-28 21:26] fernpolo commented on #254
Check out #250

[2022-04-04 14:41] BRKalow commented on #254
Thanks for the report! We're going to investigate a potential solution that works for both react v17 and v18 this week.

[2022-04-04 16:50] hk86 opened #256 "Error compiling MDX with next-mdx-remote@4.0.2 due to formatting"
Hi all,

I get this error message:

[code]

This is the html:

[code]

Sure the formatting is bad, but it's not wrong. So I wonder why it fails compiling? I use headless Wordpress, so I'm not fully in charge regarding the formatting.

Since I switched from v2 to v4.0.2 I do not know, when it stopped working.

Best regards,

hk

[2022-04-05 01:21] lachlanjc commented on #243
Also experiencing this! On Safari 10 especially.

[2022-04-05 12:49] chetanpan opened #257 "Markdown inside componets is not rendered..."
Modify example mdx as follows:

[code]
---

"Amazing" inside div will be rendered as is (i.e. ** will be visible). I expect it to be converted to html.

Or am I missing something?

[2022-04-05 14:57] BRKalow commented on #256
We upgraded the underlying MDX library to v2 along with v4 of this project, which does include breaking changes to how MDX is authored. See the official docs for more details: https://mdxjs.com/

[2022-04-05 14:58] BRKalow commented on #257
See the MDX docs for more details on how to properly structure MDX content: https://mdxjs.com/

[2022-04-05 14:58] #257 closed

[2022-04-06 09:15] tanvirpiash opened #258 "This is what is appearing when trying to install it on the next project."
`npm install next-mdx-remote@latest
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving:-nextjs@0.1.0
npm ERR! Found: react@18.0.0
npm ERR! node_modules/react
npm ERR!   react@"18.0.0" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer react@">=16.x <=17.x" from next-mdx-remote@4.0.2
npm ERR! node_modules/nex

[2022-04-06 11:36] nirajmchauhan commented on #258
+1
Getting the same error

[2022-04-07 02:45] gamedevsam commented on #203
I get errors with React 18:

[code]

[2022-04-07 06:37] fernpolo commented on #203
Hi team! The original purpose of this issue was really based on two parts — hooks/colocating as raised at Next.js Conf 2021; and React SSR/Server Components. With React 18 now in GA and `4.0.1` capable of `<Suspense>`, SSR, etc  (#255, #250, #237, more), I've renamed this to focus on the latter only.

[2022-04-07 06:52] fernpolo commented on #203
At this time, if you're experiencing errors with React 18 concurrency features, check:

- that `next-mdx-remote` is pinned at version `4.0.1`
- that you are using the latest version of Next.js (`12.1.4` at writing)
- that you're using the latest version of React (i.e. `18.0.0` proper)
- that your `next.config.js` includes `experimental: { runtime: "nodejs"}` (Edge Runtime disables `eval` which thi

[2022-04-08 20:39] talatkuyuk opened #259 "import { serialize } from "next-mdx-remote/serialize" cost is 505.1k"
Import cost is an vscode extension, to calculate import cost related with the packages' sizes.

MDXRemote component is just 4.3k
[code]

But, When I import the serialize function:
[code]

It calculates as 0.5MB. Is it so much? Is it normal?

[2022-04-09 19:07] kwiat1990 commented on #203
@fernpolo ich have also encountered that very problem, but in my case none of the above had worked and it produced the following error instead:

[code]
Have you guys any ideas what's going on and how it can be fixed?

I'm looking for a solution to process a markdown content on the server, so that I can retrieve dimension of remote images and use it in with the Next `Image` component.

[2022-04-14 14:03] joanvf opened #260 "Cannot be installed in latest React version"
Trying to install in a new/clean project with react@18.0.0, I come across this error:

peer react@">=16.x <=17.x" from next-mdx-remote@4.0.2

[2022-04-14 22:02] fernpolo commented on #260
Try downgrading to version `4.0.1`

[2022-04-14 22:05] fernpolo commented on #259
Yes, I've had similar numbers. But because you only need to use `serialise` at build time, this doesn't actually affect the client bundle at all. (Next.js doesn't include code in `getStaticProps`, etc)

[2022-04-14 22:18] BRKalow commented on #259
Exactly right, since serialize is only used server-side/at build-time the bundle impact is not as big of a concern as it is on the client.

[2022-04-14 22:18] #259 closed

[2022-04-15 08:38] raulfdm commented on #254
I hate when I have to hack things around but totally get the burden of open source and work.

I'm currently using v4.02 and as workaround I've create a script (run post install deps) to replace the import and re-write the file:

[code]

Far from optimal but may help (now everything is working fine again)

[2022-04-15 17:45] mikevarela commented on #260
This doesn't work for me. Same error

[2022-04-15 22:17] Roy-Nelson-Tous commented on #260
Same error

[2022-04-16 21:20] mateonunez commented on #260
Works for me.

[2022-04-16 22:53] rizkimcitra opened #262 "Typescript Error on Components Props"
**Getting typescript error when passing MDXComponent props to component.**

my MDXComponents:

[code]

error:
[code]

screenshot:

<img src="https://ik.imagekit.io/mlnzyx/aaa_1__BeUXxMArZ.png?ik-sdk-version=javascript-1.4.3&updatedAt=1650149530326" />

works fine on my [previous project](https://github.com/rizkimcitra/rizkicitra/blob/main/src/pages/article/%5Bslug%5D.tsx#L146), and no error shown,

[2022-04-17 09:12] infamous55 commented on #260
Downgrading didn't work for me either.

[2022-04-17 17:37] rizkimcitra commented on #260
Works for me.

[2022-04-20 04:25] liltechnomancer opened #263 "After version 4.0 the wrapper component does not work as it used to due to changes to children."
Prior to version 4.0 you could use the `wrapper` component to map over all the children and do arbitrary things like reverse them.

This is a pretty important feature to MDX, please check out this video if you are curious why.  https://www.youtube.com/watch?v=xEu3t-KJVVg

I set up a small reproduction of this. You can downgrade this repo to any 3.0 build and notice the posts will be reversed, but

[2022-04-21 16:18] mohouyizme commented on #239
I'm facing the same problem, I'm using:
yarn: 3.1.1
node: 17.9.0
next: 12.1.4

[2022-04-23 05:28] jaamaal95 opened #264 "next-mdx-remote not working"
next-mdx-remote failed to install on below environment:
- Next.js: 12.1.5,
- React: 18.0.0,
- React DOM: 18.0.0,

### Error:
[code]

[2022-04-23 07:24] fernpolo commented on #264
This duplicates #260

[2022-04-23 08:30] xuwillie opened #265 "Type errer"
Version: 3.0.2

_components/MDXComponents.tsx_

[code]

Then run `npm run build`

[code]

How can I do?

[2022-04-23 09:23] tfsomrat opened #266 "Package subpath './jsx-runtime.js' is not defined by "exports""
error - Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: Package subpath './jsx-runtime.js' is not defined by "exports" in /Users/themefisher/Downloads/mdx-blog/node_modules/react/package.json imported from /Users/themefisher/Downloads/mdx-blog/node_modules/next-mdx-remote/dist/index.js

I am using everything in the latest version. how to fix this issue?

[2022-04-23 09:23] tfsomrat commented on #266
This is my `next.config.js`

[code]

[2022-04-23 09:24] jaamaal95 commented on #264
Ohh I see.

[2022-04-23 09:24] #264 closed

[2022-04-23 09:29] jaamaal95 commented on #260
I've try downgrading to `4.0.1` but getting same error

[2022-04-23 16:57] jakejarvis commented on #260
Make sure you're installing exactly `4.0.1`, not `^4.0.1`, in your package.json.

[2022-04-23 18:12] jaamaal95 commented on #260
Yes, I've tried both but didn't succeed.

[2022-04-24 05:11] gadingnst commented on #266
same issue here. Here's my package.json
[code]

[2022-04-24 18:06] SebasG22 commented on #266
+1

[2022-04-24 20:01] Alexandr-Lazariev commented on #266
I've got the same issue in my nx @nrwl/next app, my package.json

`"dependencies": {
    "@nrwl/next": "13.10.3",
    "@tailwindcss/typography": "^0.5.2",
    "core-js": "^3.6.5",
    "next": "12.1.2",
    "next-mdx-remote": "4.0.0",
    "react": "18.0.0",
    "react-dom": "18.0.0",
    "regenerator-runtime": "0.13.7",
    "tslib": "^2.0.0"
  },
  "devDependencies": {
    "@nrwl/cli": "13.10.3",

[2022-04-24 20:08] Alexandr-Lazariev commented on #266
**UPD:** Downgrading to version 3.0.8 fixed the issue, but I'd love to use the latest one 🤷‍♂️

[2022-04-25 02:21] tfsomrat commented on #266
Hello, @Alexandr-Lazariev  did you also downgrade the react and next version? I badly need this thing, is it possible to share your repository? so I can implement it too on my project 🙏

[2022-04-25 06:35] #265 closed

[2022-04-27 13:40] #254 closed

[2022-04-27 13:40] #258 closed

[2022-04-27 23:43] joemckenney opened #269 "Typing for `frontmatter` breaks common usage / misunderstands union types"
The [recent update to the frontmatter type](https://github.com/hashicorp/next-mdx-remote/pull/252) misunderstands union types.  In particular, this snippet from [Working with Union Types](https://www.typescriptlang.org/docs/handbook/2/everyday-types.html#working-with-union-types)

So, given some basic usage in a next app :

[code]

We will get errors when accessing `title` on `source.frontmatter`

[2022-04-28 16:51] mdaverde commented on #269
I seem to be running into this as well. I'm wondering if `frontmatter`'s type should've been set to `Record<string, Frontmatter>` or just `FrontmatterObject`?

Additionally, can we allow `frontmatter`'s type to be overridden through a generic param in `MDXRemoteSerializeResult`? This would give the user the flexibility to definitively say what the shape of frontmatter is. We already seem to do thi

[2022-04-29 13:56] nightire opened #270 "How to get vfile.data from the serializer?"
I'm using a remark plugin to extract all headings and store them in the `vfile.data`, but the problem is the serializer only returns the `vfile.data.matter` so it's impossible to get more from `vfile.data`:

<img width="656" alt="image" src="https://user-images.githubusercontent.com/1104018/165958658-46d4c88b-debc-4954-accb-dfc126773294.png">

So, what should I do to get the extra things from `vfi

[2022-05-03 15:41] BRKalow commented on #269
I think you're right! Thanks for the report. I'll try to make this change this week, otherwise feel free to open a PR and tag me and I'll take a look. 🙏

[2022-05-09 17:40] max-pod opened #271 "Errors when attempting to transpile (next-transpile-modules) with next-mdx-remote@^4.0.0"
Hello, asking for help using `next-transpile-modules` with `next-mdx-remote`

Created a sample project with breakdown: https://github.com/max-pod/next-mdx-attempted-transpile-4

See config file: https://github.com/max-pod/next-mdx-attempted-transpile-4/blob/b89156fc2cc386915b02ee883ddc14c20991fa15/next.config.js#L1

[code]

Attempted to use `esmExternals: loose` to get:

[code]

[2022-05-09 23:10] reconbot opened #272 "Rendering to raw html"
One of the features I need to build with next is an rss feed. This requires rendering HTML from my `MDXRemoteSerializeResult` or from my markdown/mdx.  I've been able to use `renderToString` from react on the `MDXRemote` component with some success. There are a few ways to accomplish this and since it's probably a common use case I figured I'd post here asking for guidance. (The unifiedjs interfac

[2022-05-13 21:02] seve opened #273 "Causing clash with CSP directive "unsafe-eval""

[2022-05-13 21:05] seve opened #274 "Causing clash with CSP directive "unsafe-eval""
This snippet of code: https://github.com/hashicorp/next-mdx-remote/blob/23a910dce7ebe2db62d63b06cdb2d1331ada13de/src/index.tsx#L81-L89
is causing an EvalError due to our app's CSP directives due to the use of the `Function` constructor.

Are there any known workarounds? Only solution I know of is specifying the source expression in the directives.

[MDN on "unsafe-eval" expressions](https://develo

[2022-05-13 21:10] #273 closed

[2022-05-13 21:10] seve commented on #274
Just saw the snippet in the read me, sorry! Must have searched incorrectly.

[2022-05-14 02:59] codegino opened #275 "Missing props in code after upgrading to recent version"
Hi all. Can I get some help on why this is happening? Thanks!

Given this component that will map to a `multiline code`(created using \``` OR triple backticks)
[code]

On `3.0.8`, the markup below

\```jsx prop1=value1 prop2=value2
// content does not matter
\```

will log `{props1: "value1", props2: "value2"}`

However, after migrating to `4.0.3`, I could not access those properties anymore.

it

[2022-05-21 23:46] DreamplaySE opened #276 "Ability to get all rendered components and their props"
**Background**: I would like to create a component inside mdx that refers to a glossary I've got externally. Ideally, I'd be able to do something like `<Gloss glossId="teddy-bear">Teddy Bear</Gloss>` and then it'd automatically create a tooltip with an explanation of the word. As such, I'd like to pass in data on all the glossaries that have been mentioned inside MDX, but I can't since there's no

[2022-05-22 21:01] vitonsky opened #277 "Cannot parse markdown comments"
# Steps to reproduce

Try to compile this text

[code]

# Expected behavior

Text compiled successfully

# Actual behavior

Error
[code]

# Notes

This is easy to fix, we have to apply https://www.npmjs.com/package/remark-comment plugin.
Author say "This plugin must be added after MDX, otherwise you will see this error" but we can't apply it before MDX at this time on user side

[2022-05-26 19:39] ChasexCodex opened #278 "Checkboxs are not rendered in the new version"
The markdown checkboxes (using [ ] and [x]) are not parsed and rendered for some reason.

### Expected:
- [ ] (some info)
- [x] (a checked one)

### Actual:
- [ ]
- [x]
(the content next to the checkboxes still exists)

### How to reproduce:

- Use the example from next.js
[code]

- Add a checkbox to `posts/example-post.mdx`
- open `localhost:3000/posts/example-post`
- Notice the checkboxes exist

[2022-05-29 03:23] BRKalow commented on #275
This might help: https://mdxjs.com/guides/syntax-highlighting/#syntax-highlighting-with-the-meta-field

[2022-05-29 03:27] BRKalow commented on #272
Using `renderToString` on `MDXRemote` wherever you need the HTML is probably your best bet here. Prior to v3, we did this within `next-mdx-remote`, but rendering outside of the application in this way introduces unexpected behavior for most use-cases (no access to context values that are rendered in your app, for example).

Interested to hear if you've got thoughts on how this might be more ergono

[2022-05-29 03:29] BRKalow commented on #278
This is part of GitHub Flavored Markdown (GFM), not commonmark. You can get this to work by using this plugin: https://mdxjs.com/guides/gfm/

[2022-05-29 03:29] #278 closed

[2022-05-29 03:29] BRKalow commented on #277
So effectively you're looking for a way to apply a remark plugin before mdx attempts to parse the source, right? I'm not sure if `@mdx-js/mdx` supports this out of the box 🤔

[2022-05-29 03:31] #274 closed

[2022-05-29 03:32] BRKalow commented on #270
We could pass along the vfile data in `scope`, what do you think about that?

[2022-05-29 03:38] BRKalow commented on #276
This sounds similar to what some folks do to extract headings to render a table of contents somewhere. One approach would be to create a custom remark plugin which accepts an array and mutates the array.

[code]

The hypothetical remark plugin would visit nodes in the tree and push to `termsUsed`. Looking at the `mdast` in the MDX playground might be a good starting point here: https://mdxjs.com/p

[2022-05-29 03:38] #276 closed

[2022-05-29 03:40] BRKalow commented on #271
Is there an error you're seeing using `next-mdx-remote` without `next-transpile-modules`?

[2022-05-29 03:41] BRKalow commented on #209
Closing this, feel free to re-open or create a follow-up issue if you feel this is still necessary.

Thanks!

[2022-05-29 03:41] #209 closed

[2022-05-29 03:41] #222 closed

[2022-05-29 03:43] BRKalow commented on #183
@rfrowe Sorry for the delay. If you're still interested, feel free to open a PR with this and we can take a further look!

[2022-05-29 03:45] BRKalow commented on #246
Closing as I don't believe this is an issue with the library. Feel free to reply if you feel differently.

Thanks!

[2022-05-29 03:45] #246 closed

[2022-05-29 03:48] BRKalow commented on #262
Hey, is this something you're still running into? We're just passing the types along from the underlying MDX library.

[2022-05-29 03:50] BRKalow commented on #203
Closing this for now, thanks for raising the question! We'll be following the progress of the data-fetching evolutions in Next.js and look at how we'll be able to update `next-mdx-remote` to fit into the new patterns as more information comes out.

[2022-05-29 03:50] #203 closed

[2022-05-29 03:51] BRKalow commented on #243
I'm going to close this for now, please feel free to create another issue or reply here if you're able to dig up more information or a concrete reproduction.

Thanks!

[2022-05-29 03:51] #243 closed

[2022-05-29 05:33] rizkimcitra commented on #262
Oops, pardon, I just updated my package and I have no type error anymore, thanks !

![image](https://user-images.githubusercontent.com/62492410/170853858-7436b56d-9bf6-428f-8230-53de5afd0be3.png)

[2022-05-29 05:33] #262 closed

[2022-05-29 07:45] nightire commented on #270
Yes, that would be great, thanks.

[2022-05-29 10:13] vitonsky commented on #277
@leebyron what you think about it? Is it possible to enable md comments for mdx?

[2022-05-31 15:46] max-pod commented on #271
@BRKalow I haven't -- are there any sample projects that have used the two together?

[2022-05-31 15:51] BRKalow commented on #271
@max-pod Ultimately I'm questioning why you need to run `next-mdx-remote` through `next-transpile-modules` if we're able to run `next-mdx-remote` successfully on its own.

[2022-05-31 16:15] ChasexCodex commented on #278
Thanks. But why was it working on version 3?

[2022-05-31 16:18] BRKalow commented on #278
GFM was included by default in MDX v1, which v3 used. v4 upgraded to MDX v2, which does not include it by default (ref: https://mdxjs.com/migrating/v2/#gfm).

[2022-06-01 17:55] joemckenney commented on #269
Any updates on this issue?  Seems like reverting https://github.com/hashicorp/next-mdx-remote/pull/252 would be a pretty simple/straightforward fix.

[2022-06-01 18:19] BRKalow commented on #269
@joemckenney No updates here yet, feel free to open a PR if you would like! I see what you're saying about the union type interaction. It seems like the best approach is to keep the typing loose (probably `any`) and potentially provide an optional generic type to allow consumers to specify their own frontmatter type.

[2022-06-03 15:01] kachkaev opened #279 "Fallback plain markdown mode (missing docs?)"
👋 folks!

We are using `next-mdx-remote` in https://github.com/blockprotocol/blockprotocol and it works great! Thanks a lot for this pretty smart lib!

I was working on a new feature today and got confused with `next-mdx-remote` a little, so decided to ping you here.

In addition to the standard mdx docs, we need to render some markdown files, importantly, without `mdx` syntax being on. These mark

[2022-06-03 16:07] kachkaev commented on #279
I can confirm that `{ mdxOptions: { format: 'md' } }` does the job! It was not available to me at first because I was on `next-mdx-remote@3` instead of `@4`. Feel free to close this issue if you want – I’ll keep it open in case you want to tweak README first.

Cheers 🙌

[2022-06-03 16:48] BRKalow commented on #279
Yay, I'm glad it worked! Updated the docs here: https://github.com/hashicorp/next-mdx-remote/pull/280

[2022-06-03 16:50] #279 closed

[2022-06-10 21:17] rome2o commented on #196
Hi @jescalan.

Mdx 2 was out earlier this year, has there been any news on this? or any examples that you could share?

Thanks
Ali

[2022-06-11 02:21] jescalan commented on #196
Are you having trouble getting this to work correctly?

[2022-06-14 08:52] mogita commented on #219
Can confirm `remark-directive` still doesn't work on version 4.0.3.

Next.js: 12.1.6
next-mdx-remote: 4.0.3
remark-directive: 2.0.1

Just a simple usage from [`remark-directive`'s readme](https://github.com/remarkjs/remark-directive#use). The generated node types which should be a "directive" was simply a paragraph.

[2022-06-15 07:14] vitalyliber opened #281 "Error: Hydration failed because the initial UI does not match what was rendered on the server."
Hi all! I have this issue using this lib with React 18.

My libs:
[code]

Any solution?

<img width="953" alt="Снимок экрана 2022-06-15 в 10 13 49" src="https://user-images.githubusercontent.com/8033090/173765745-f6f22830-b72e-4b15-809e-5569cdc235dd.png">

[2022-06-15 14:34] BRKalow commented on #281
Can you provide a minimal reproduction?

[2022-06-16 07:30] vitalyliber commented on #281
I'm sorry it happens only when I wrap next-mdx-remote content to the <p> tag.
I renamed the <p> tag to <div> and this error disappear.

[2022-06-16 07:30] #281 closed

[2022-06-16 08:29] Gelio commented on #281
Weirdly enough, I also faced the same problem when I also wrapped `MDXRemote` inside of a `p` by mistake:

[code]

The error message makes this error quite cryptic. Changing the container to a `div` fixed the issue

[2022-06-16 13:29] BRKalow commented on #281
This is likely due to the HTML spec, in that `p` cannot contain block-level elements: https://www.w3.org/TR/html401/struct/text.html#edef-P

[2022-06-17 08:16] Gelio commented on #281
Yes, you are right about the spec, that's definitely invalid. The error message is slightly perplexing though and the console errors do not help diagnose the problem.

Here is the DOM hierarchy I got when the page was server-side rendered and I had JavaScript enabled:
![image](https://user-images.githubusercontent.com/889383/174256432-a93827c9-d5d9-4134-9104-e32c507aa1d1.png)

Most errors in the c

[2022-06-17 14:12] BRKalow commented on #281
I agree! Unfortunately these errors are coming directly from React, so there is not a ton we can do in this library.

[2022-06-20 08:15] mattiaz9 opened #282 "Markdown tables are serialized as paragraphs"
I'm facing this problem where tables are not rendered correctly.

This is an example of a table serialized as a paragraph:
[code]

[2022-07-03 03:11] FisherRobison commented on #281
I am running into the same error even when the container is a div. MDXRemote still renders as a <p> is that expected?

[code]

<img width="1140" alt="image" src="https://user-images.githubusercontent.com/17657726/177023005-24045125-f49f-419f-b0e0-8a7611c24098.png">

[2022-07-07 02:07] Eliot00 opened #284 "Cannot parse HTML <br> tag"
I use [tui.editor](https://ui.toast.com/tui-editor) to write markdown blog, it will add some soft line break, next-mdx-remote can't serialize it, even `<br>` is a legal HTML tag without slash.

[code]

[code]

[2022-07-07 13:35] linda-lai opened #285 "Server error rendering MDX on page with dynamic routing"
👋 Hey folks. Encountering the same issue raised here when rendering a page with dynamic routing: https://github.com/vercel/next.js/issues/36646. I'm setting up a new project based off the [with-mdx-remote blog example](https://github.com/vercel/next.js/tree/canary/examples/with-mdx-remote) in the Next repo.

Working okay on the deployed production version. But visiting a unique slug route locally

[2022-07-08 18:54] rajuashok opened #286 "Importing TSX / JSX component directly into MDX file."
Hi there.
I'm using this version:
`"next-mdx-remote": "^3.0.8"`

I'm trying to import a component directly into my .mdx file like so:

[code]

The file `components/LeagueWithTeam.tsx` looks roughly like this:

[code]

But when I build this I get the following error:
`Component LeagueWithTeam was not imported, exported, or provided by MDXProvider as global scope`

Is it not possible to import compo

[2022-07-08 21:54] noahlst commented on #286
Not with this package implementation.

We have to pass components through `<MDXRemote>`, like this:

[code]

This is outlined in the package Readme.

[2022-07-12 16:38] lumenwrites commented on #207
Hi! Sorry for such a late reply. I'm building a new project, and I'm struggling with this issue again. The last time I just kinda gave up on solving it, since it didn't matter as much, but now it does.

I see that this library uses `@mdx-js/mdx`. I went to their GitHub repo, and used their official sandbox examples to test this. You can see here that when I'm using their examples, this issue isn't

[2022-07-15 19:59] ethancedwards8 commented on #272
How would one go about doing this? I'm trying to populate an RSS description field, but I cannot figure out how to do that.

[2022-07-15 21:33] #272 closed

[2022-07-16 20:04] patradanai commented on #284
i have same issure wuth tui editor

[2022-07-18 23:21] mimiqkz opened #288 "Reducing size of serialize import"
Can we make a request for reducing import size of the serialize?
`import { serialize } from "next-mdx-remote/serialize"; // <-- this is 506.9k (gzipped 159.7k)` which is not good

[2022-07-20 09:51] noahlst commented on #288
`serialize` only gets called at build time. So there's no need to worry because it doesn't affect client-side bundle sizes. Also see #259

[2022-07-20 22:34] BRKalow commented on #286
As mentioned above, imports are not supported in `next-mdx-remote` as we treat the content as data, so resolving imports is a non-trivial problem.

related to #48 #143

[2022-07-20 22:34] #286 closed

[2022-07-20 22:35] #288 closed

[2022-07-20 22:39] BRKalow commented on #284
This is a limitation of MDX: https://mdxjs.com/docs/

You might consider trying to force the content to be parsed as vanilla markdown, instead of mdx.

[code]

Note that you won't be able to use MDX components with this approach.

[2022-07-20 22:39] #284 closed

[2022-07-20 22:39] #269 closed

[2022-07-23 06:48] jordanlambrecht opened #289 "Upgrade dependencies for react and react-dom to 18"
[code]

[2022-07-25 03:05] rfrowe opened #290 "TypeError when replacing default components"
Howdy 🤠 I'm following the README's directions on overriding default components:
[code]

However, when I try to use `components` as such:
[code]

I receive the following type error:
[code]

If I modify my arrow function to
[code]
This works just fine. Is it important that this ref be passed to the `Typography` component and if so how can this be done in a typesafe way?

[2022-07-25 05:57] mehedi-sharif opened #291 "Could not parsing markdown table"
Hello there,

I have implemented `next-mdx-remote` to my project and everything works perfectly except the table.

here is the example code of the table:

[code]
and the output looks like this:
![image](https://user-images.githubusercontent.com/5304905/180707978-78fb68a6-222c-4fb1-b763-2376f66b6992.png)

is it a bug or I did do something wrong?

[2022-07-25 14:34] BRKalow commented on #291
See the MDX v2 upgrade guide: https://mdxjs.com/migrating/v2/#gfm

[2022-07-25 14:34] #291 closed

[2022-07-25 14:42] BRKalow commented on #289
It looks like you need to update to `4.x`! We've got 18.x specified as valid versions: https://github.com/hashicorp/next-mdx-remote/blob/main/package.json#L93-L95

[2022-07-25 14:42] #289 closed

[2022-07-25 17:00] jordanlambrecht commented on #289
Aha! Thank you

[2022-07-29 19:55] sebastienlabine commented on #227
+1 this should be supported. I get understand why the default export behaviour isn't supported, but we should be able to at least define a const to use within the mdx file..

[2022-08-01 17:01] rfrowe commented on #183
@BRKalow I've opened a PR for this, please take a look.

[2022-08-06 18:14] payapula commented on #275
@codegino I too faced the same issue after upgrading to v4.1.0

I had written code blocks like the below, which would highlight line numbers 2 and 3.

[code]

After upgrading to v4.1.0, the `metaString` prop is no longer available from MDX. So, I followed the [workaround mentioned](https://mdxjs.com/guides/syntax-highlighting/#syntax-highlighting-with-the-meta-field) by @BRKalow as below:

Used [r

[2022-08-08 14:09] #275 closed

[2022-08-14 15:43] hendraaagil opened #293 "Different name of children type for image"
I have a markdown like this to display an image:

[code]

I want to wrap that image using `figure` element. So, in Paragraph component I add condition like this:
[code]

In development server, it rendered correctly
![image](https://user-images.githubusercontent.com/54741166/184544187-081e3d8b-c74c-491e-8985-5a6d27dedfb7.png)

But, after I build and start the (production) server. It rendered `p` in

[2022-08-17 00:18] kxxt commented on #270
Maybe it's better not to expose the vfile data in `scope`. Personally I just want to extract some useful info from it, but I don't want to pass them to MDX. We can pass that data through a new variable.

[2022-08-18 22:14] raulmihaila commented on #285
I had a similar problem but a different error was displayed (v4.1.0):
Error: [next-mdx-remote] error compiling MDX: Cannot handle unknown node `raw`

[2022-08-23 02:09] imjeen opened #294 "Code block cannot use custom params when upgraded to V4 in MDX"
when using `  "next-mdx-remote": "^3.0.8"`, I can add extra params to highlight lines in MDX like below.
<pre>
[code]
</pre>

 Upgraded to `4.1.0`,  the code block is missing extra params.

And how I use the custom params for code block in MDX?

[2022-08-23 20:51] marcelgruber commented on #231
Thank you @dekked.

What is `ExtractHeadingsConfig` in your example?

[2022-08-23 21:58] marcelgruber commented on #231
@dekked I got your sample code working:

[code]

[2022-08-30 08:22] chrisrzhou opened #295 "Question: How does one parse frontmatter and use directly as `pageProps`?"
Hi!

I am curious if the library supports the following consumer pattern.

Given an `pages/example.mdx` file with frontmatter

[code]

To automatically be able to pass the parsed frontmatter object as data into Next's `pageProps` (e.g. in `_app.js`)

[code]

[2022-08-30 09:59] misakamayako opened #296 "skip render unknow language code block"
if a markdown contains unknown language code block, such as

\`\`\`sequence
Alice->Bob: Hello Bob, how are you?
Note right of Bob: Bob thinks
Bob-->Alice: I am good thanks!
\`\`\`

the `serialize` will throw an error, but maybe skipping it is a better option

[2022-08-30 14:27] BRKalow commented on #295
We do support parsing frontmatter, as can be seen here: https://github.com/hashicorp/next-mdx-remote#additional-examples

You could then pass access that through `pageProps` 👍

[2022-08-30 14:27] #295 closed

[2022-08-30 14:28] BRKalow commented on #294
See here: https://github.com/hashicorp/next-mdx-remote/issues/275

[2022-08-30 14:28] #294 closed

[2022-08-30 14:28] BRKalow commented on #296
Can you provide the error? That will help determine if it's an issue with this library or another dependency.

[2022-08-31 02:15] misakamayako commented on #296
Error: [next-mdx-remote] error compiling MDX:
Unknown language: `sequence` is not registered

and mdxOptions only contains `format: 'md'`

[2022-08-31 16:06] chrisakroyd commented on #290
Hello mate, I ran into the same issue or a very similar one.

You can solve it by extending the MDXComponents type and then casting your components object to the resulting type. This has the triple benefit of being able to accept your component, the re-defined type may still be used with the default components, and it's about as quick of a fix as you can come up with. I leave it to the reader whet

[2022-09-06 10:39] leo-petrucci opened #297 "MDXRemote won't replace iframes"
I woke up to some errors popping up in my logs causing my pages to 500.

In my site I regularly embed `iframes` which contain inline styles, before these iframes are rendered I usually override the `style` props so that they're not inlined:

[code]

This seemed to work until I upgraded to v4. Now iframes simply aren't replaced at all which causes my pages to 500.

I know the easy fix is to not add

[2022-09-09 03:56] jdcampolargo commented on #239
run `yarn run build` and fix those errors. That fixed my problem!

[2022-09-09 03:57] jdcampolargo commented on #239
also run `yarn add @mdx-js/mdx`

[2022-09-11 10:39] OatLatte opened #298 "How to stop mdx-remote parsing empty line as a line break?"
Hello folks,

I have like :

[code]

[2022-09-12 22:22] NekoChanTaiwan opened #299 "How to detect content is loaded when using lazy hydration ?"
I have a Catalog( Table of contents ) component, it need to get all of the heading like this :
![image](https://user-images.githubusercontent.com/47508893/189768651-1da6dbec-6eac-4dfb-8be3-7a62703feab0.png)

Should I use a loop to detect content is loaded or is there any good method ?

[2022-09-19 16:10] AdisonCavani opened #300 "MDX with Preact"
## Summary
I have a problem with ``<MDXRemote/>`` component.
It causes to throw an error.
When I comment out this ^^ component, everything works fine.

I'm using Next.js with [next-plugin-preact](https://www.npmjs.com/package/next-plugin-preact).
[Next.js preact example](https://github.com/vercel/next.js/tree/canary/examples/using-preact)

## How to reproduce?
I created a simple repository - https

[2022-09-19 16:53] klausdw commented on #300
I'm looking just now for the same issue. (next-plugin-preact)

My error:

Server Error
TypeError: Cannot read properties of undefined (reading '__H')

h
/node_modules/preact/hooks/dist/hooks.mjs (1:306)
Object.MDXRemote
/node_modules/next-mdx-remote/dist/index.js (31:51)

package.json
"dependencies": {
	"next": "12.2.5",
	"next-mdx-remote": "^4.0.3",
	"next-plugin-preact": "^3.0.7",
	"preact": "^1

[2022-09-20 15:34] rizkimcitra commented on #53
Sorry but where does the `renderToString` come from?

[2022-09-20 18:05] JHSeo-git commented on #53
In v2, serialize is renderToString.

Please check migrate v2 to v3 docs.
https://github.com/hashicorp/next-mdx-remote/releases/tag/3.0.0

[2022-09-22 23:27] #299 closed

[2022-09-24 20:56] fredericoo commented on #300
Having same issue

[2022-09-29 07:28] Manitej66 opened #301 "Is there any way to convert mdx into md/html/pdf?"

[2022-09-29 13:35] BRKalow commented on #298
This could be possible with a remark plugin, check out https://mdxjs.com/docs/extending-mdx/

[2022-09-29 13:35] #298 closed

[2022-09-29 13:38] BRKalow commented on #296
Are you using any remark/rehype plugins for syntax highlighting? I would look there. This library doesn't do any special handling of code blocks before handing it to MDX.

[2022-09-29 13:38] #296 closed

[2022-09-30 15:22] judehunter opened #302 "The frontmatter typings are incorrect"
The current type for the frontmatter is `Record<string, string>`. Since the frontmatter has parsed values (such as arrays and objects), the values of the Record should be all possible YAML values. Or at least it should be `Record<string, unknown>` or `Record<string, any>` so that no type assertions have to be done :)

[2022-09-30 15:52] BRKalow commented on #302
This is configurable via type parameters on [`MdxRemoteSerializeResult`](https://github.com/hashicorp/next-mdx-remote/blob/main/src/types.ts#L23-L26), but there might be opportunity for us to make this clearer in documentation.

PRs welcome!

[2022-10-02 13:49] kssflow opened #303 "Can `remark-mdx-frontmatter` plugin be working in `mdxOptions`?"
(First, thank you for reading and big shoutout to this valuable open source project)

**Objects**
**I want to use frontmatter value in mdx file itself.**

I have heard that `remark-mdx-frontmatter` make it happen.
So I have tried.. following code

[code]

but that didn't work... (although other plugins worked correctly).
Is there something I missing?
Although I have consulted to reference, I canno

[2022-10-15 01:10] gxxcastillo opened #305 "Error: Hydration failed because the initial UI does not match what was rendered on the server."
Hi, I'm setting this library up for the first time and I'm looking forward to using it but at the moment, I keep getting this error:

[code]

To test it out, I've created an all new next js projected a few times now, thinking there's something I'm missing. I've pasted the sample code from the docs into `pages/index.tsx` but I'm still seeing the error.  The only other component in the tree at this

[2022-10-15 01:52] gxxcastillo commented on #305
ugh, I guess `'Some **mdx** text, with a component <Test />'` is automatically wrapped with a `<p>` tag 🤦 and since all of the components I was testing with are wrapped with a `<div>` everything I would try would break bc react doesn't like you nesting `<div>`s within `<p>`s and it shows up with this random error.

I even skimmed over [this other related issue](https://github.com/hashicorp/next-md

[2022-10-15 01:52] #305 closed

[2022-10-18 21:52] MaximilianGaedig commented on #302
Came here to fix this simple issue, just as @judehunter said updating it to `Record<string, any>` is the way to go

[2022-10-26 16:44] maximilianschmitt opened #307 "Does not yet support Next.js Version 13"
I've noticed that next-mdx-remote doesn't work with Next.js 13.

To reproduce the issue, I tried running the official example with-mdx-remote using Next.js 13 and it doesn't work. Trying to load the example post, I get the following error:

![CleanShot 2022-10-26 at 18 41 15@2x](https://user-images.githubusercontent.com/3694962/198085332-08fa918f-9da3-4789-b018-feb4b642458d.png)

## How to reprodu

[2022-10-26 19:42] BRKalow commented on #307
Thanks for the report. We haven't had the opportunity to test it out with v13 yet, but we'll take a look at this soon!

[2022-10-29 04:17] victorteokw opened #308 "Static export errors"
Hi,

thanks for this great package. `npx next build` fails due to

[code]
[code]

[2022-10-30 22:59] nwalters512 opened #309 "v4: Cannot provide filepath to plugins"
I have a plugin that relies on knowing the path to the file being compiled. In `next-mdx-remote` v3, I was able to provide `filepath` via `mdxOptions`, e.g.:

[code]

As of MDX v2, however, `filepath` isn't an option anymore, and that's been replaced by passing a VFile object (https://mdxjs.com/migrating/v2/):

I would like to be able to provide a filepath, either by passing a `VFile` object direc

[2022-10-31 03:57] AdamLeBlanc commented on #307
I'm just going to piggyback off of this issue rather than creating a new one (can if the author prefers).

There seems to be a separate issue when server/static rendering with Next 13.

[code]

will result in the following error

[code]

However, wrapping the component to force it to client render like so

[code]

[2022-10-31 20:40] hahnbeelee opened #310 "Is there a way to check if your content is going to throw an error?"
I'm building an application using `next-mdx-remote` that has users who will write up custom content/pages. It isn't guaranteed that the content is always going to be correct/compile. This is what I'm doing right now:
[code]
Is there a way for me to check if the content will compile? I don't want my entire application to break due to one person uploading one incorrect file. I want it to silently fa

[2022-11-01 14:20] BRKalow commented on #308
Can you provide a minimal reproduction and/or additional details of your setup?

[2022-11-01 15:57] BRKalow commented on #310
Most errors that would happen as a result of malformed content would be thrown from the call to `serialize()`, which should be happening on the server. Wrapping the serialize call in a `try/catch` would be a potential solution. Can you share more details about your setup?

[2022-11-01 17:18] jmikrut commented on #307
Hey all,

In addition to the above, I'm seeing the following build errors while trying to `import { serialize } from 'next-mdx-remote/serialize'`:

[code]

This _**only**_ happens when we try and enable the `runtime: 'experimental-edge'` Next config property though.

Thought we'd keep all the Next 13 issues in the same place if possible so just tacking on here.

[2022-11-02 06:35] hahnbeelee commented on #310
Most of the time my serialize function is fine. The reason why I'm specifically talking about `<MDXRemote components={components} {...mdxSource} />` is because sometimes components are used when they aren't a part of the components I fed into MDXRemote. This is [where I'm using MDXRemote](https://github.com/mintlify/mint/blob/vercel-platforms-migration/client/src/pages/_sites/%5Bsite%5D/%5B%5B...s

[2022-11-02 15:15] BRKalow commented on #310
Makes sense! Is all of the content rendered at build-time and are the components you pass into `MDXRemote` a fixed list? If so, I personally would consider using a remark plugin (maybe [remark-lint](https://github.com/remarkjs/remark-lint)) to check that all components being used are declared.

Catching this during `serialize()` would be a faster feedback cycle for authors.

[2022-11-02 19:16] BRKalow commented on #309
So, we do actually construct a `VFile` instance internally. Maybe we can update `serialize()` to accept a `string` or a `VFile` instance, like MDX's `compile()` does. Happy to take a look at a PR if you're up to take a crack at it!

[2022-11-02 19:24] BRKalow commented on #303
Hey there, `parseFrontmatter: true` should make the frontmatter available via `frontmatter` in your MDX: https://github.com/hashicorp/next-mdx-remote/blob/main/__tests__/serialize.test.tsx#L125-L149

Was this not working for you?

[2022-11-02 20:23] BRKalow commented on #301
Yes! You could use [`renderToStaticMarkup()`](https://reactjs.org/docs/react-dom-server.html#rendertostaticmarkup) to output HTML.

[2022-11-03 14:09] Frostbourn commented on #307
Same issue here.
`TypeError: Cannot read properties of undefined (reading 'default')`

[2022-11-03 14:32] Frostbourn commented on #307
Here it is: [test-app](https://github.com/Frostbourn/test-app)

Thank you!

[2022-11-03 16:34] hahnbeelee commented on #310
I've added try catches and created a remark plugin to remove all components that aren't in my list. Unfortunately the try catch around the serialize function, nor the try catch around my content are catching syntax errors.
<img width="1274" alt="image" src="https://user-images.githubusercontent.com/55263191/199778727-5d42669f-4de5-4276-993e-f9b74369ab9c.png">

[Try catch around MDXRemote](https://

[2022-11-03 16:50] BRKalow commented on #310
What other syntax errors are you looking to catch? Do you have an example of something invalid that's not being handled? It looks like you've covered undefined components with that remark plugin.

[2022-11-03 17:25] hahnbeelee commented on #310
The most common ones I see:
- Sometime people write <user_id> when talking about a variable but MDX detects it as a component (and is broken because it doesn't have a closing component </user_id>)
- `<` and `{` need to be escaped (`/<` `/{`)

These just cause the MDX to not parse. It's really going over my head why my try catch during serialize, nor my try catch around my MDXRemote aren't catching

[2022-11-03 18:52] hahnbeelee commented on #310
I just found [this issue](https://github.com/mdx-js/mdx/discussions/1862) I've been putting error boundaries, but they are also not being triggered. Curious if you think that MDXRemote wraps MDXProvider in a way that would make the error boundary not work.

[2022-11-03 19:11] BRKalow commented on #310
Based on the image you shared and the code you linked, these types of things are being caught by the `try/catch` around `serialize()` 🤔

Here's a test case: https://github.com/hashicorp/next-mdx-remote/blob/f5b0e74529908efd78b981bae7121847ed751b58/__tests__/serialize.test.tsx#L151-L165

[2022-11-03 19:14] hahnbeelee commented on #310
Hmm interesting

[2022-11-03 20:40] hahnbeelee commented on #310
I think we're just going to try to migrate to mdx-bundler 🥲 Thank you for all of your help though!

[2022-11-03 20:40] #310 closed

[2022-11-07 05:07] nwalters512 commented on #309
@BRKalow great! I opened a PR adding this: #311.

[2022-11-07 05:16] #309 closed

[2022-11-07 17:19] smakman opened #314 "How to handle HTML with inline styles?"
I'm trying to parse markdown that contains HTML tags with inline styles (for example `<iframe style="overflow: hidden" />`), which results in:

[code]

I tried using `rehype-react`:

[code]

But this results in:

[code]

Is there any way to parse HTML with inline styles?

[2022-11-10 07:58] victorteokw commented on #308
Hi, after add `fallback: false`, this is resolved. This is not a bug but my usage error. Thanks!

[2022-11-10 07:58] #308 closed

[2022-11-10 20:20] jescalan commented on #307
Just a small note here - we are aware on the nextjs team that the app directory doesn't yet support mdx-remote. We have it on our roadmap to address this, but aren't quite there yet. We're still working on fixing critical bugs and stabilizing it right now, as it's still beta.

I'll drop updates here when we start working on this!

[2022-11-10 21:39] BRKalow commented on #314
As far as I know, this isn't supported with MDX as tags are treated as JSX, not HTML. 💭

[2022-11-11 10:34] chardskarth commented on #263
@liltechnomancer  @BRKalow Is this possibly caused by upgrading to mdx-js v2?

Is the change in wrapper - children documented anywhere? It doesn't seem to be found in @mdx-js migration pages.

[2022-11-14 08:43] AgileNix opened #315 "How to use custom options with `rehype` plugins?"
How can I add a custom option to a rehype plugin?

For example, the docs at https://github.com/rehypejs/rehype-external-links say that I should use the following syntax
[code]

In `next-mdx-remote`, however, the plugins are passed differently and I don't see how I can add the `{rel: ['nofollow']}` option.

[code]

[2022-11-14 10:18] DET171 commented on #315
You would do something like the following:
[code]

[2022-11-14 15:04] BRKalow commented on #315
@DET171 is correct! `mdxOptions` has the same format as the options for `compile()` from '@mdx-js/mdx`: https://mdxjs.com/docs/extending-mdx/#using-plugins

[2022-11-14 15:04] #315 closed

[2022-11-14 19:42] ehteshamdev0 commented on #262
Hey, I am also facing the same issue although I am using the latest version of the library.

[2022-11-16 17:43] AgileNix commented on #315
perfect, thank you @DET171 and @BRKalow

[2022-11-18 10:27] i-coder-keller opened #316 "markdown diff and language"
How should I go about using markdown diff syntax, currently using diff doesn't explain the language, I've tried 'diff&js' 'diff-js' and can't highlight it
![image](https://user-images.githubusercontent.com/50040262/202680649-476c5372-fea3-429b-87da-c1f509b2ec45.png)
I hope it should look like this:
![image](https://user-images.githubusercontent.com/50040262/202680820-fe09cf3a-c753-4de2-a54b-9e780f

[2022-11-18 23:56] #303 closed

[2022-11-21 16:48] talatkuyuk commented on #284
I suffer from the same issue. I think there should be a solution.

[2022-11-21 17:41] talatkuyuk commented on #227
+1

[2022-11-21 18:03] BRKalow commented on #314
I don't think that doc is accurate, based on the [playground](https://mdxjs.com/playground/):
![Screen Shot 2022-11-21 at 12 02 28 PM](https://user-images.githubusercontent.com/1289701/203127762-42f2eefc-6437-4016-a15b-f755cc605e0a.png)

[2022-11-21 18:04] talatkuyuk commented on #314
@smakman I suppose the `rehype-plugin` is not the plugin which can be used in the `serialize` function. In the docs, it says that `This package is a unified plugin that compiles HTML (hast) to React nodes (the virtual DOM that React uses).`. Means that it is a kind of compiler that can be used with unified. This transformation is already being done via serialize itself.

[2022-11-21 18:55] BRKalow commented on #316
What highlighting plugin are you using? This isn't a feature that's part of the core MDX library, it's something should be handled by whatever syntax highlighter you're using.

[2022-11-21 19:25] talatkuyuk commented on #314
@BRKalow As far as I see in the documentation, https://github.com/micromark/micromark#intro, The `micromark` uses [common-markup-state-machine](https://github.com/micromark/common-markup-state-machine). I do not understand the relation between the `micromark` and the `mdx-state-machine` which is in progress, the document says.

[2022-11-21 20:32] oliver-daniel commented on #281
I can confirm that this is still an issue in November of 2022. When I try to use the `components` prop to replace `img` tags with a component similar to this:

[code]

I see that the `image-container` div is wrapped in a `<p>` tag, leading to the `HydrationMismatch` error. Replacing the `p` tag with a block-type component (e.g., `div`) removes the error, but doesn't work well for my workflow.

Is

[2022-11-22 08:56] i-coder-keller commented on #316
I'm using the rehype-prism-plus plugin, I checked the documentation for this plugin and it doesn't specify what I should do, it doesn't recognize the language when I diff

[2022-11-23 20:52] BRKalow commented on #316
It looks like there's a note in the README here on supporting `diff`: https://github.com/timlrx/rehype-prism-plus/tree/main

There's nothing in particular that `next-mdx-remote` can help with here so I'm going to close this out.

[2022-11-23 20:52] #316 closed

[2022-11-23 20:53] BRKalow commented on #314
I'm going to close this out as addressing this is out of scope of what `next-mdx-remote` wants to be responsible for. Feel free to continue the discussion!

[2022-11-23 20:53] #314 closed

[2022-11-24 01:55] hahnbeelee commented on #310
Hello! I wanted to give an update here. Later we found out that there was content that resembled javascript like: `{{var_name_ex}}` this was purely content and the variable `var_name_ex` did not exist. Since we're working with customer generated content, in the end we decided to remove all javascript using a remark plugin since it's dangerous anyway. We have decided to continue to use `next-mdx-re

[2022-11-24 05:57] AlanMorel commented on #307
I can't even get it to work using the workarounds pasted above.

When I try, I get ```Error: Objects are not valid as a React child (found: [object Promise]). If you meant to render a collection of children, use an array instead.```.

Does anybody already have a repo they're willing to share that works (Next 13 + app directory + MDX), even if its using a workaround?

[2022-11-26 13:57] BRKalow commented on #310
Thanks for the update! Yeah we've run into this a bit as well, you can either try and detect it to escape the values, or remove it like you mentioned. It's tough when authors aren't aware of all of the differences between MD and MDX.

[2022-11-26 14:16] rizkimcitra commented on #307
I still got the `Error: Unsupported Server Component type: undefined`

[2022-11-29 15:26] #301 closed